---
---
// Global Styles
@import "colors";
@import "reset";


// Components
@import "components/nav/style";
@import "components/footer/style";


.header, .cart__header {
  position: relative;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f3f3+39,e8e8e8+100 */
  background: #f3f3f3; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f3f3f3 39%, #e8e8e8 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #f3f3f3 39%,#e8e8e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #f3f3f3 39%,#e8e8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-align: left;
  padding: 0px 20px;
  height: 90vh;
  min-height: 545px;
  display: block;
  h1, h2, p, label, a {
    color: $graphite;
  }
}

.cart__header {
  background: $white;
  height: auto;
  min-height: unset;
}

.cart__images {
  padding: 20px;
  text-align: center;
}

.cart__image {
  width: 48%;
  bottom: 0px;
  display: block;
  display: inline-grid;
  border: 1px solid $grey;
  margin: 1%;
  margin: 0;
}

.cart__stock {
  padding: 0 20px;
}

.icon--cart {
  padding: 0 10px;
}

.out-stock {
  color: red;
}

.register {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding: 20px 0;
}

.cart__description {
  padding: 10px 20px;

  ul {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }
}

.price__value {
  font-weight: bold;
  font-size: 37px;
}

.boom {
  position: absolute;
  left: 50vw;
  margin-left: -35px;
  top: 230px;
}

.tripod {
  position: absolute;
  bottom: -31px;
  left: 50vw;
  margin-left: -62px;
}

.name_lockup,
.name_lockup--cart {
  max-width: 355px;
  left: 10px;
  position: relative;
  top: 50px;
  margin: 0 auto;
}

.name_lockup--cart {
  margin-bottom: 48px;
}

h1.product_name {
  font-size: 60px;
  color: #D8D8D8;
  font-weight: 900;
  margin: 0px;
  line-height: 61px;
}

.header--about {
  min-height: auto;
  padding-bottom: 60px;
}

.header__section {
  max-width: 750px;
  margin: 0 auto;
  h2 {
    margin-bottom: 46px;
  }
}

.header__p {
  max-width: 355px;
  margin: 5px 0 0 0;
  line-height: 25px;
  font-size: 21px;
}

.section,
.section--boom,
.section--tripod,
.section--mic,
.section--obs,
.section--bag {
  padding: 15px 15px 110px 15px;
  h3 {
    font-size: 28px;
    margin: 0px 0 20px 0;
  }
}

.guarantee {
  font-size: 28px;
  margin: 40px 0 20px 0;
}

.section--boom,
.section--obs {
  background-color: #4A4A4A;
  h3, a, ul, p {
    color: $white;
  }
}

.section--obs,
.section--bag {
  padding-bottom: 30px;
}

.section--mic {
  padding-bottom: 75px;
}

.section--tripod {
  background-color: #E0F1EF;
  margin-top: 25px;
  margin-bottom: 35px;
}

.section--bag {
  text-align: center;
}

.section__text,
.section__text--obs,
.section__text--mic,
.section__text--bag {
  padding: 0 15px;
  margin-top: 43px;
}

.section__text--obs {
  p {
    font-size: 15px;
    line-height: 27px;
  }
}

.section__h2 {
  color: #DBFEFA;
  font-size: 46px;
  font-weight: 100;
  text-align: center;
  margin: 24px auto 36px auto;
  max-width: 295px;
}

.section__img {
  width: 100%;
  bottom: 0px;
  display: block;
  position: absolute;
}

 .section__img_wrapper,
.section__img_wrapper--boom, 
.section__img_wrapper--tripod, 
.section__img_wrapper--mic {
  height: 80vw;
  overflow: hidden;
  position: relative;
} 

.section__img_wrapper--tripod, 
.section__img_wrapper--mic {
  margin-top: -90px;
}

.section__img--obs,
.section__img--bag {
  width: 100%;
  margin-top: 20px;
}

.footer{
  padding: 40px;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
.button,
a.button,
a.button--header
{
  /* Fix IE7 display bug */
  overflow:visible;
  width:auto;
  padding: 12px 153px 13px 28px;
  margin: 20px 0;
  color: $white;
  cursor: pointer;
  border-radius: 1000px;
  background-color: $purple;
  background-image: url("{{ '/assets/img/button_icon.svg' | fingerprint }}");
  background-position: center right;
  background-repeat: no-repeat;
  text-decoration: none;
  font-size: 14px;
  &:hover, &:focus {
    color: $white;
    padding: 12px 158px 13px 28px;
    outline: 0;
    box-shadow: 2px 2px  5px $grey;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
  }
}

a.button--header {
  position: absolute;
  padding: 5px 123px 5px 28px;
  left: 50vw;
  margin-left: -104px;
  top: 61%;
  z-index: 2;

 &:hover, &:focus {
    padding: 5px 128px 5px 28px;
  }
}

.response {
  font-size: 24px;
  color: $white;
}

@media all and (min-width: 600px) {
  .boom {
    left: 100vw;
    top: 85px;
    margin-left: -344px;
  }

  .name_lockup {
    max-width: 605px;
    left: 51vw;
    position: relative;
    margin-left: -307px;
    top: 222px;

    h1.product_name {
      font-size: 101px;
      line-height: 78px;
    }

    a.button--header {
      margin-left: 58px;
      top: 330px;
    }

  }

}


@media all and (min-width: 700px) {
  .footer{
    padding: 60px;
  }
 .columns,
 .columns--boom {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .section--tripod .columns {
    flex-direction: row-reverse;
  } 

  .section--obs .columns {
    margin-bottom: -100px;
  }
  
  .section__text,
  .section__text--mic,
  .section__text--obs,
  .section__img_wrapper,
  .section__img_wrapper--boom, 
  .section__img_wrapper--tripod, 
  .section__img_wrapper--mic {
    width: 50%;
    max-width: 504px;
    margin: 0 2vw;
    height: auto;
    min-height: 400px;
  }

  .section__text--bag {
    width: auto;
    max-width: 1084px;
    margin: 0;
    height: auto;
    min-height: auto;
    margin: 100px auto 100px auto;
  }

  .section__text--mic {
    margin-bottom: 180px;
    padding-top: 40px;
  }

  .section__text--obs {
    margin-top: 90px;
  }

  .section__img_wrapper--boom {
    bottom: -40px;
  }

  .section__img_wrapper--tripod {
    top: -75px;
  }

 .section__img_wrapper--mic {
    top: -80px;
  }

  .section__img {
    position: relative;
  }

  .section__text {
    margin-top: 35px;
    margin-bottom: 80px;
  }

  .section, 
  .section--boom, 
  .section--tripod, 
  .section--mic {
    padding: 40px 15px 0px 15px;
  }

  .section--tripod {
    margin-top: 80px;
  } 

  .section--mic {
    padding-top: 0px;
    margin-bottom: -120px;
  }

  .section__img--bag {
    padding: 0 150px;
  }

  .section__h2 {
    max-width: none;
  }

}


@media all and (min-width: 769px) {
  .name_lockup {
    max-width: none;
    left: 50vw;
    position: relative;
    margin-left: -360px;
    top: 222px;
    
    h1.product_name {
      font-size: 135px;
      line-height: 105px;
    }

    .header__p {
      max-width: 409px;
      margin: 5px 0 0 0;
      line-height: 30px;
      font-size: 26px;
    }
  }

  a.button--header {
      margin-left: 97px;
      top: 365px;
  }

  .header {
    min-height: 585px;
  }



}
