.footer {
  background-color: $blue;
  font-size: 14px;
  color: $grey; 

  p {
    font-size: 14px;
    color: $grey; 
  }
}

.footer__section {
  display: block;
  padding: 10px 0;
  min-width: 224px;
  &:first-child {
    border-bottom: 1px solid $grey;

  }
}

.footer__logo,
.footer__link {
  display: block;
  line-height: 24px;
  color: $grey;
  text-decoration: none;

  &:hover {
    color: $grey;
    text-decoration: underline;
  }
}

.footer__logo {
  margin-bottom: 20px;
}


@media all and (min-width: 769px) {
  .footer__sections {
    display: flex;
    flex-basis: auto; 
  }

  .footer__section {
    border-right: 1px solid $grey;
    width: 25%;
    padding-left: 30px;
    &:first-child {
      padding-left: 0px;
      border-bottom: 0px solid $grey;
    }
  }
}
