---
layout: default
---
<div class="cart">
  <div class="cart__header">
    <div class="name_lockup--cart">
      <img src="{{ '/assets/img/userology_logo.svg' | fingerprint }}" class="header__logo" alt="Userology" width="164"/>
      <h1 class="product_name">UXPRO KIT.</h1>
      <p class="header__p">Everything you need to record and stream professional usability tests.</p>
    </div>
  </div>

  <div class="cart__images">
    <img src="{{ '/assets/img/kit_group.png' | fingerprint }}" alt="" class="cart__image"/>
    <img src="{{ '/assets/img/bag_group.png' | fingerprint }}" alt="" class="cart__image"/>
    <img src="{{ '/assets/img/screens.png' | fingerprint }}" alt="" class="cart__image"/>
    <img src="{{ '/assets/img/obs.png' | fingerprint }}" alt="" class="cart__image"/>
  </div>

  <div class="cart__stock">
    <p class="price">
      <img src="{{ '/assets/img/cart.svg' | fingerprint }}" alt="" class="icon--cart"/>
        <span class="price__value">$498</span> + Shipping</p>
    <p class="out-stock">Sorry. We are out of stock</p>
    <div class="register">
      <p class="register__cta">Notify me when it’s back in stock</p>
      <!-- Begin MailChimp Signup Form -->

      <form action="https://userology.us2.list-manage.com/subscribe/post?u=2a37f7b7a4cf3667e61357bf6&amp;id=f6135e151f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email</label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
            <input type="hidden" name="PRODUCT" class="" id="mce-PRODUCT" value="UXKitPro" >
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2a37f7b7a4cf3667e61357bf6_f6135e151f" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
      </div>
  
  </div>

  <div class="cart__description">
    <ul>
      <li>2 x Logitech C930e 1080P HD Video Webcam with 90-Degree extended view</li>
      <li>Full Suspension Boom length up to 25 inches (64cm).</li>
      <li>Jaw clamp to fit standard Desks up to 5.2cm (2 inches)</li>
      <li>Tripod+webcam height: 8 inches (20cm)</li>
      <li>NASUM omnidirectional condenser conference microphone</li>
      <li>UGREEN USB 3.0 Hub 4 Port USB 3 data hub</li>
      <li>Neewer 30x7x3.7 inches (76x17x9.5cm) Heavy-duty, cordura webbed nylon waterproof kit bag</li>
      <li>JoyReken USB 3.0 Dat Hub, Ultra Slim 4-Port USB 3.0</li>
    </ul>
    <p>+ Optimised to work with Free OBS recording and live streaming software (Mac & PC)</p>
  </div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='PRODUCT';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

