---
layout: default
---
<div class="header">
  <div class="name_lockup">
    <img src="{{ '/assets/img/userology_logo.svg' | fingerprint }}" class="header__logo" alt="Userology" width="164"/>
    <h1 class="product_name">UXPRO KIT.</h1>
    <p class="header__p">Everything you need to record and stream professional usability tests.</p>
  </div>
  <a href="/cart" class="button--header">Buy Now</a>
  <img src="{{ '/assets/img/boom.png' | fingerprint }}" width="421" height="308" alt="" class="boom"/>
  <img src="{{ '/assets/img/tripod.png' | fingerprint }}" width="124" height="161" alt="" class="tripod"/>
</div>

<div class="section--boom">
  <h2 class="section__h2">What you get in the kit</h2>
  <div class="columns">
    <div class="section__img_wrapper--boom">
      <img src="{{ '/assets/img/section_bom.png' | fingerprint }}" alt="" class="section__img"/>
    </div>
    <div class="section__text">
      <h3>Overhead boom camera to capture gestures & interactions</h3> 
      <p>Record the subtle hesitations and gestures that tell the full user experience story. Ideal for testing mobile devices without participants felling restrcited.</p>
      <ul>
        <li>Full Suspension Boom length up to 25 inches (64cm)</li>
        <li>Jaw clamp to fit standard Desks up to 5.2cm (2 inches)</li>
        <li>Logitech C930e 1080P HD Video Webcam with 90-Degree extended view</li> 
      </ul>
      <a href="/cart" class="button">Buy UXPro kit</a>
    </div>
  </div>
</div>

<div class="section--tripod">
  <div class="columns">
    <div class="section__img_wrapper--tripod">
      <img src="{{ '/assets/img/section_tripod.png' | fingerprint }}" alt="" class="section__img"/>
    </div>
    <div class="section__text">
      <h3>Desktop camera to capture participants face and posture</h3> 
      <p>This unobtrusive desktop camera records the participants face and posture.The wide angle lens captures more of the participant than a standard webcam headshot, giving you a better chance of understanding what they are thinking.</p>
      <ul>
        <li>Tripod+webcam height: 8 inches (20cm)</li>
        <li>Logitech C930e 1080P HD Video Webcam with 90-Degree extended view</li>
      </ul>
      <a href="/cart" class="button">Buy UXPro kit</a>
    </div>
  </div>
</div>

<div class="section--mic">
  <div class="columns">
    <div class="section__img_wrapper--mic">
      <img src="{{ '/assets/img/section_mic.png' | fingerprint }}" alt="" class="section__img"/>
    </div>
    <div class="section__text--mic">
      <h3>Omnidirectional microphone so you never miss an insight</h3> 
      <p>There are few things more frustrating than poor audio in a usability tests. This discrete omnidirectional condenser microphone is optimised for capturing conversation, while eliminating background noise.</p>
      <ul>
        <li>NASUM omnidirectional condenser conference microphone</li>
        <li>Capture clear audio up to 10 feet (3m) away</li>
      </ul>
      <a href="/cart" class="button">Buy UXPro kit</a>
    </div>
  </div>
</div>

<div class="section--obs">
  <div class="columns">
    <div class="section__text--obs">
      <h3>Combine full desktop & smartphone screen capture & streaming</h3> 
      <p>Paired with the free OBS video recording and live streaming software  (Mac & PC), you can capture desktop or smartphone screens. Stream and record exactly what your user is seeing along side your other video inputs.</p>
      <img src="{{ '/assets/img/screens.png' | fingerprint }}" alt="" class="section__img--obs"/>
    </div>
    <div class="section__text--obs">
      <h3>Live stream multiple video inputs to your remote team with OBS</h3> 
      <p>The free OBS recording and live streaming software (Mac & PC) allows you to combine multiple video inputs and set-up a private video stream with YouTube Live. Your team can observe a live user tests private from anywhere.</p>
      <img src="{{ '/assets/img/obs.png' | fingerprint }}" alt="" class="section__img--obs"/>
    </div>
  </div>
</div>

<div class="section--bag">
  <div class="section__text--bag">
    <h3>All packed into a single bag to store or take on the road</h3>  
    <p>Including extra cables and USB hub. Pack everything safely into a single durable bag, ready for your next user-test.</p>
    <img src="{{ '/assets/img/bag.png' | fingerprint }}" alt="" class="section__img--bag"/> 
    <a href="/cart" class="button">Buy UXPro kit</a>
    <p class="guarantee">30 day money back guarantee</p>  
  </div>
</div>
